div {
    border: 1px solid red;
    
}
/* BASIC */
body {
  background-color: rgb(172, 168, 168);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  
}
.loginform {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    margin: 6em 0;

    border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  
  
  text-align: center;
  
  }