#pagination{
    /* margin: 4em 0; */
    padding: 40px;
    position: relative;
}
h2{
    text-align: center;
}
.buttons {
    width: 20%;
    /* color: #000000; */
    /* background-color: #11a1b4; */
    border: 3px solid #11a1b4;
    text-decoration: none;
    text-align: center;
    }
    
   
  

    
