#pagination{
    /* margin: 4em 0; */
    padding: 40px;
    position: relative;
}
h2{
    text-align: center;
}
/*Portfolio*/
.portfolio{
    margin: 4em 0;
       position: relative; 
   }
   .portfolio h1{
    color:red;
    margin: 2em; 
   }
   .portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
   }
