/* div {border: 1px solid red;} */

#about{margin: 4em 0; position: relative;}
    #about img{border-radius: 50%}
    #about span{left: 115px;}
    #about .desc{padding: 2em; border-left:4px solid #10828C;}
    #about .desc h3{color: #10828C;}
    #about .desc p{line-height:2; color:#888;}

.team{margin: 5em 0;}
   .team h1{color:red; margin: 2em;}
   .team .des{
    background: red;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
   }
   
.col-lg-4{text-align:  center;}
   