.formAddEdit{
  position: relative;
  margin-top: 10%;
  text-align: center;

}
.form-group{
  display: inline; 
}

body{
  background: rgb(168, 167, 167);
}

label{
  font-size: 18px;
  font-weight: 600;
}
  