body{
    background-color: #808080;
}
.table_price {
    border-collapse: collapse;
    border-left: 3px solid #87CEFA;
    border-right: 3px solid #87CEFA;
    border-bottom: 3px solid #87CEFA;
    font-family: "Lucida Grande", sans-serif;
    text-align: center;
    margin: auto;
   }
.table_price caption {
    background: #87CEFA; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
  }
.table_price td, .table_price th {
    padding: 10px;
  }
.table_price th {
    text-align: left;
    font-size: 18px;
  }
.table_price tr:nth-child(2n) {
    background: #C0C0C0;
  }
.table_price td:last-of-type {
    text-align: center;
  }
.table_price a {
    display: inline-block;
    padding: 5px 10px;
    background: #87CEFA;
    box-shadow: 2px 2px 0 0 #87CEFA;
    position: relative;
  }
.table_price a:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
  }

  ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

nav.center {text-align: center;}

.action-btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #112D52;
    background: #FF5438;
    border: 2px solid #112D52;
    transition: .4s linear;     
  }
  .action-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 130%;
    width: 91%;
    border: 2px solid #112D52;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
  .action-btn:hover {
    background: #112D52;
    color: #FF5438;
  }
  .buttons{
    text-align: center;
  }