/* NAVBAR */
.nav-link , .navbar-brand{
    color: rgb(139, 187, 231) !important;
   }
.nav-link{
    margin-right: 1em !important;
   }
.nav-link:hover{
    background: #f4f4f4;
   }
.navbar-collapse{
    justify-content: flex-end;
   }
