
.text_error{position: absolute; top: 30%; left: 32%;}
img{height: 50px; width: 50px; padding: 15px;}
body{background-color: #ccc;}
ul{display: flex; justify-content: center; padding-top: 20%;}
    
ul li{list-style: none; margin: 0 40px;}
    ul li:hover:nth-child(1) a{background: #3b5999;}
    ul li:hover:nth-child(2) a{background: #55acee;}
    ul li:hover:nth-child(3) a{background: #dd4b39;}
    
    
    
    